/*_______________Police______________*/

@font-face {
    font-family: 'sansationbold';
    src: url('polices/Sansation-Bold-webfont.eot');
    src: url('polices/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Bold-webfont.woff2') format('woff2'),
        url('polices/Sansation-Bold-webfont.woff') format('woff'),
        url('polices/Sansation-Bold-webfont.ttf') format('truetype'),
        url('polices/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('polices/Sansation-Regular-webfont.eot');
    src: url('polices/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Regular-webfont.woff2') format('woff2'),
        url('polices/Sansation-Regular-webfont.woff') format('woff'),
        url('polices/Sansation-Regular-webfont.ttf') format('truetype'),
        url('polices/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*_______________Instructions all page______________*/

html {
    font-family: "sansationregular";
    font-size: 10px;
}

*,
*:before,
*::after {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    overflow-x: hidden;
    background-color: #DCDCDC;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    height: 60px;
    background: #263545;
    background: -webkit-gradient(linear, left top, left bottom, from(#263545), to(#3B536B));
    background: linear-gradient(#263545, #3B536B);
    padding: 0 20px;
    color: #fff;
    -webkit-box-shadow: 0px 2px 5px #1c1a19;
    box-shadow: 0px 2px 5px #1c1a19;
    z-index: 10000;
    position: fixed;
    width: 100%;

}

.logo {
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu {
    font-size: 16px;
    float: right;
    line-height: 60px;
}
.menu li {
    list-style-type: none;
    display: inline;
    flex-direction: column;
}
.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-right: solid 1px;
}

.show-menu-btn,
.hide-menu-btn {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 60px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #00b0e6;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -11111;
}

/*_______Container présentation header______*/

#bloc-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
}

.header-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 500px;
    min-height: 500px;
    width: 1000px;
    -webkit-box-shadow: 0px 4px 4px #1c1a19;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-top: 2%;
    z-index: 0;
}

.banniere-image {
    position: absolute;
    top: 0;
    bottom: 0;
}

.banniere-image img {
    height: 100%;
    opacity: 0.8;
}

.bloc-profil {
    color: white;
    z-index: 2;
}

.img-cv {
    display: block;
    width: auto;
    margin-bottom: 15.72px;
    border: 2px solid #00b0e6;
    border-radius: 100%;
}

.bloc-profil h1 {
    font-size: 2em;
    margin-bottom: 31.44px;
    text-align: center;
}

.bloc-profil p {
    text-align: center;
    margin-bottom: 31.44px;
}

.bloc-profil_btn a {
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#399bb9), to(#094966));
    background: linear-gradient(#399bb9, #094966);
    border-radius: 7.5%;
    -webkit-box-shadow: 0px 3px 3px #1c1a19;
    box-shadow: 0px 3px 3px #1c1a19;
}

.bloc-profil_btn a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#00b0e6), to(#0e76a8));
    background: linear-gradient(#00b0e6, #0e76a8);
}

.reseau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 3px;
    text-align: center;
    border-radius: 10%;
    width: 30%;
}

.bloc-profil .linkedin {
    width: 35px;
    margin-right: 5px;
    padding: 2px;
    border-radius: 5px;
    background-color: #0e76a8;
    color: white;
}

.linkedin:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.bloc-profil .instagram {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.instagram:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.banniere-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(56, 58, 58);
    opacity: .2;
}

/*______Card Expériences Professionnelles, Compétences + Formations______*/
.bloc-info,
.bloc-info_competence {
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0px 1px 3px #1c1a19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: .8rem;
    margin-top: 7.5rem;

}

.bloc-info__img {
    min-width: 45rem;
    max-width: 45rem;
    height: 40rem;
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem);
    position: relative;
}

.bloc-info__img:before,
.bloc-info-competence__img:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}

.bloc-info__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .6);
}

.bloc-info-competence__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 0 0.8rem 0.8rem 0;
}

.bloc--image_title h2 {
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 26.5%;
    padding-right: 26.5%;
    -webkit-text-decoration: underline #00b0e6;
    text-decoration: underline #00b0e6;
    z-index: 1;
    text-align: center;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 155px;
    margin-bottom: 155px;
    color: white;
}

.bloc--image_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#6d7072), to(#4a8799));
    background-image: linear-gradient(to right, #6d7072 0%, #4a8799 100%);
    opacity: .3;
}

.bloc--image-competence_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#6d7072), to(#4a8799));
    background-image: linear-gradient(to right, #6d7072 0%, #4a8799 100%);
    opacity: .3;
    border-radius: 0 0.8rem 0.8rem 0;
}

.bloc-info__descri,
.bloc-competence {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bloc-info__date {
    width: 25%;
}

.bloc-info__work,
.bloc-info-formation__work {
    width: 50%;
    padding: 2.5rem 0 2.5rem 4rem;
    border-left: 2px solid #00b0e6;
}

.bloc-info_competence {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.bloc-info-competence__img {
    min-width: 45rem;
    max-width: 45rem;
    height: 40rem;
    margin: 0;
    position: relative;
}

.bloc-info-competence__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 0 0.8rem 0.8rem 0;
}

.bloc-info__descri span {
    display: block;
    font-size: 1.6rem;
    margin: .5rem 0;
}

.bloc-competence span {
    display: block;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.bloc-competence__front,
.bloc-competence__outil {
    margin: 2rem 3rem;
    width: 30%;
    text-align: center;
}

.bloc-info__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #00b0e6;
}

.bloc-info__text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.link_webagency {
    text-transform: uppercase;
    color: #00b0e6;
}

.link_webagency:hover {
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid;
    background: #00b0e6;
}

/*______________________Footer_________________________*/

footer {
    color: white;
    padding: 0;
    margin: 7.5rem 0 0;
    font-size: 1.6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #3B536B;
    width: 100%;
    height: 100px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    padding: 5px;
    background: #33A8CC;
}

/*______________________Media Queries_________________________*/

@media screen and (max-width: 1000px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 50%;
        height: 100%;
        background: #203345;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        z-index: 1;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .menu a:hover {
        background: #3B536B;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.menu {
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        font-size: 18px;
    }

    .menu {
        width: 100%;
    }
}


/*----header, Section experiences, competences, formations----*/

@media screen and (max-width: 1068px) {

    .bloc-info,
    .bloc-info_competence {
        max-width: 80rem;
    }

    .bloc-info__img,
    .bloc-info-competence__img {
        min-width: 30rem;
        max-width: 30rem;
    }

    .bloc--image_title h2 {
        font-size: 20px;
    }

    @media screen and (max-width: 868px) {
        .img-cv {
            width: 60%;
        }

        .bloc-profil h1 {
            font-size: 1em;
            margin-bottom: 15.72px;
            text-align: center;
        }

        .bloc-profil p {
            width: 60%;
        }

        .bloc-profil {
            margin: 0;
        }

        .bloc-info,
        .bloc-info_competence {
            max-width: 70rem;
        }
    }

    @media screen and (max-width: 768px) {
        .section {
            padding: 0;
        }

        .bloc-info,
        .bloc-info_competence {
            padding: 2.5rem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .bloc-info__date {
            margin: 0;
            width: 50%;
            padding: 0 3rem 0 0;
        }

        .bloc-info__descri span {
            font-size: 1.3rem;
        }

        .bloc-info-formation__work {
            padding: 2.5rem 0 2.5rem 3rem;
        }

        .bloc-info__img,
        .bloc-info-competence__img {
            min-width: 100%;
            max-width: 100%;
            -webkit-transform: translate(0, -8rem);
            transform: translate(0, -8rem);
        }

        .bloc-info-competence__img img,
        .bloc--image-competence_overlay {
            border-radius: 0.8rem;
        }
    }

    @media screen and (max-width: 425px) {

        .bloc-info_competence {
            padding: 0;
            margin-top: 5rem;
        }

        .bloc-info__img {
            height: 20rem;
        }

        .bloc-info-competence__img {
            -webkit-transform: none;
            transform: none;
            height: 20rem;
        }

        .bloc-info__descri span {
            font-size: 1.1rem;
        }

        .bloc--image_title h2 {
            font-size: 18px;
            margin-top: 55px;
            margin-bottom: 55px;
        }

        .bloc-info-competence__img img,
        .bloc--image-competence_overlay {
            border-radius: 0.8rem 0.8rem 0 0;
        }
    }
}