/*_______________Police______________*/

@font-face {
    font-family: 'sansationbold';
    src: url('polices/Sansation-Bold-webfont.eot');
    src: url('polices/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Bold-webfont.woff2') format('woff2'),
        url('polices/Sansation-Bold-webfont.woff') format('woff'),
        url('polices/Sansation-Bold-webfont.ttf') format('truetype'),
        url('polices/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('polices/Sansation-Regular-webfont.eot');
    src: url('polices/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Regular-webfont.woff2') format('woff2'),
        url('polices/Sansation-Regular-webfont.woff') format('woff'),
        url('polices/Sansation-Regular-webfont.ttf') format('truetype'),
        url('polices/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*_______________Instructions all page______________*/

html {
    font-family: "sansationregular";
    font-size: 10px;
}

*,
*:before,
*::after {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

/*_______________Menu de navigation______________*/

.header {
    height: 60px;
    background: #263545;
    background: -webkit-gradient(linear, left top, left bottom, from(#263545), to(#3B536B));
    background: linear-gradient(#263545, #3B536B);
    padding: 0 20px;
    color: #fff;
    -webkit-box-shadow: 0px 2px 5px #1c1a19;
    box-shadow: 0px 2px 5px #1c1a19;
    z-index: 1;
    position: fixed;
    width: 100%;

}

.logo {
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu {
    font-size: 16px;
    float: right;
    line-height: 60px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-right: solid 1px;
}

a .nav_last {
    border-right: none;
}

.show-menu-btn,
.hide-menu-btn {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 60px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #00b0e6;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -11111;
}

/*_______________Section présentation / image bannière______________*/

#bloc-parrallax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
}

.parrallax-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 93.6vh;
    width: 100%;
    -webkit-box-shadow: 0px 2px 2px #1c1a19;
            box-shadow: 0px 2px 2px #1c1a19;
    z-index: 0;
}

.banniere-image {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.banniere-image img {
    height: 100%;
    opacity: 0.8;
    -o-object-fit: cover;
    object-fit: cover;
}

.textbox_portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%;
    background: white;
    padding: 40px;
    border: 1px solid black;
}

.textbox_portfolio h1 {
    margin-bottom: 10px;
}

.textbox_portfolio .underline {
    display: inline-block;
    height: 5px;
    width: 18rem;
    background: #00b0e6;
    margin-bottom: 40px;
}

.textbox_portfolio h4 {
    display: block;
    margin: 0;
    margin-bottom: 20px;
}

.textbox_portfolio p {
    display: block;
    width: 50%;
    margin: 0;
    text-align: justify;
}

.bloc_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.bloc_description .bloc_image {
    width: 35%;
    height: 35%;
    margin-right: 0;
}

.bloc_description .bloc_image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view {
    font-size: 18px;
    background: #399bb9;
    padding: 10px 20px;
    border-radius: 15px;
}

.view:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#399bb9), to(#094966));
    background: linear-gradient(#399bb9, #094966);
}

/*______________________Footer_________________________*/

footer {
    color: white;
    padding: 0;
    font-size: 1.6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #3B536B;
    width: 100%;
    height: 100px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    padding: 5px;
    background: #33A8CC;
}

/*______________________Media Queries_________________________*/
@media screen and (max-width: 1445px) {
    .textbox_portfolio {
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .textbox_portfolio {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 50%;
        height: 100%;
        background: #203345;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        z-index: 1;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .menu a:hover {
        background: #3B536B;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.menu {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .textbox_portfolio {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        font-size: 2vh;
    }

    .menu {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .textbox_portfolio h4 {
        margin: inherit;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .textbox_portfolio h1 {
        font-size: 16px;
    }

    .textbox_portfolio .underline {
        height: 3px;
        width: 12rem;
    }

    .bloc_description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .textbox_portfolio p {
        width: 100%;
    }

    .bloc_description .bloc_image {
        margin-right: inherit;
        width: 90%;
        margin-bottom: 20px;
    }

    .view {
        font-size: 14px;
    }
}