/*_______________Police______________*/

@font-face {
    font-family: 'sansationbold';
    src: url('polices/Sansation-Bold-webfont.eot');
    src: url('polices/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Bold-webfont.woff2') format('woff2'),
        url('polices/Sansation-Bold-webfont.woff') format('woff'),
        url('polices/Sansation-Bold-webfont.ttf') format('truetype'),
        url('polices/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('polices/Sansation-Regular-webfont.eot');
    src: url('polices/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/Sansation-Regular-webfont.woff2') format('woff2'),
        url('polices/Sansation-Regular-webfont.woff') format('woff'),
        url('polices/Sansation-Regular-webfont.ttf') format('truetype'),
        url('polices/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*_______________Instructions all page______________*/

html {
    font-family: "sansationregular";
    font-size: 10px;
}

*,
*:before,
*::after {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

/*_______________Menu de navigation______________*/

.header {
    height: 60px;
    background: #263545;
    background: -webkit-gradient(linear, left top, left bottom, from(#263545), to(#3B536B));
    background: linear-gradient(#263545, #3B536B);
    padding: 0 20px;
    color: #fff;
    -webkit-box-shadow: 0px 2px 5px #1c1a19;
            box-shadow: 0px 2px 5px #1c1a19;
    z-index: 1;
    position: relative;

}

.logo {
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu {
    font-size: 16px;
    float: right;
    line-height: 60px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-right: solid 1px;
}
a .nav_last{
    border-right: none;
}
.show-menu-btn,
.hide-menu-btn {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 60px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #00b0e6;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -11111;
}

/*_______________Section présentation / image bannière______________*/

#bloc-parrallax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
}

.parrallax-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 700px;
    min-height: 700px;
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px #1c1a19;
            box-shadow: 0px 4px 4px #1c1a19;
    z-index: 0;
}
.parrallax-container p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    background: white;
    padding: 20px;
}
.banniere-image {
    position: absolute;
    top: 0;
    bottom: 0;
}

.banniere-image img {
    height: 100%;
    opacity: 0.8;
    -o-object-fit: cover;
       object-fit: cover;
}
/*_______________Section portfolio: liste des projets réalisés______________*/

.portfolio{
    margin-top: 5rem;
    font-size: 26px;
    text-align: center;
}
.portfolio span{
    display: inline-block;
    height: 5px;
    width: 22.5rem;
    background: #00b0e6;
}

.projet ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
}

.projet>ul>li {
    padding: 20px 0 0 15px;
    margin: 0 10px 15px 0;
    list-style-type: none;
    float: left;
}

.projet>ul>li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
        0 2px 2px rgba(0, 0, 0, 0.23);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
        0 2px 2px rgba(0, 0, 0, 0.23);
}

.imagebox {
    position: relative;
    overflow: hidden;
    max-width: 450px;
    height: 300px;
    -webkit-box-shadow: 0px 3px 3px #1c1a19;
            box-shadow: 0px 3px 3px #1c1a19;
}

.imagebox img {
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
}
.textbox {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, .4);
    -webkit-transition: 1s;
    transition: 1s;
}
.textbox h4{
    color: white;
    font-size: 24px;
    line-height: 60px;
    margin: 0 20px;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
}
.textbox_hover {
   display: none;
}

.textbox_hover h4 {
    padding: 5px;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.textbox_hover p {
    font-size: 16px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
    color: #fff;
}

.textbox_hover p {
    padding-left: 10px;
}
.view{
    font-size: 16px;
    background: #399bb9;
    padding: 10px;
    border-radius: 15px;
}
.view:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#399bb9), to(#094966));
    background: linear-gradient(#399bb9, #094966);
}
.imagebox:hover .textbox_hover {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}
.text_center{
    margin: 13.5% 0;
}
.imagebox:hover .textbox {
    display: none;
}
/*______________________Footer_________________________*/

footer {
    color: white;
    padding: 0;
    margin: 7.5rem 0 0;
    font-size: 1.6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #3B536B;
    width: 100%;
    height: 100px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    padding: 5px;
    background: #33A8CC;
}

/*______________________Media Queries_________________________*/

@media screen and (max-width: 1000px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 50%;
        height: 100%;
        background: #203345;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        z-index: 1;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .menu a:hover {
        background: #3B536B;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.menu {
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        font-size: 2vh;
    }

    .menu {
        width: 100%;
    }
    .projet>ul>li {
        padding: 20px 0 0 0;
        margin: 0;
    }
}
